$color-background-disable: color('secondary', 'lighten-3');
$color-disable: color('secondary', 'lighten-5');
$height-button: 48px;
$height-button-small: 40px;
$border-width: 2px solid;
$button-padding: 0 1rem;
$button-text-size: 16px;
$button-border-radius: 4px;
$border-button-text-size: 14px;

.button-component {
  width: 100%;
  height: $height-button;
  font-size: $button-text-size;
  font-weight: bold;
  padding: $button-padding;
  cursor: pointer;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  position: relative;

  &:hover {
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      opacity: 0.2;
      background-color: white;
      left: 0;
      animation: slidebg 1s alternate infinite;
    }

    @keyframes slidebg {
      to {
        width: 100%;
      }
    }
  }

  .icon-style {
    path {
      fill: white;
    }
  }

  &.text-button {
    background-color: transparent !important;
    font-size: $border-button-text-size !important;

    &:hover {
      &:before {
        display: none;
      }
    }

    &.disable {
      background-color: transparent !important;
      color: $color-background-disable !important;

      .icon-style {
        path {
          fill: $color-background-disable !important;
        }
      }
    }
  }

  &.border-button {
    background-color: transparent !important;
    font-size: $border-button-text-size !important;
    border: $border-width;

    &:hover {
      &:before {
        display: none;
      }
    }

    &.disable {
      border-color: $color-background-disable !important;
      color: $color-background-disable !important;
    }
  }

  &.small-button {
    height: $height-button-small !important;
  }

  &.disable {
    cursor: default;
    pointer-events: none;
    background-color: $color-background-disable !important;
    color: $color-disable !important;
  }

  &.type-primary {
    background-color: green;
    color: white;

    &.text-button {
      color: green;

      .icon-style {
        path {
          fill: greenyellow;
        }
      }
    }

    &.border-button {
      color: green;
      border-color: green;
      background-color: transparent !important;

      .icon-style {
        path {
          fill: green;
        }
      }

      &.disable {
        .icon-style {
          path {
            fill: $color-background-disable;
          }
        }
      }
    }

    &.small-button {
      color: white;
    }
  }

  &.type-danger {
    background-color: red;
    color: white;

    &.text-button {
      color: red;

      .icon-style {
        path {
          fill: red;
        }
      }
    }
  }
}
