.dateSelectorComponent {
  .icon-warning-content {
    color: color("warning", "lighten-1");
    font-size: 16px;
    right: 0;
    line-height: 0;
  }
  .dateSelectorContent {
    @include flexBox();
    @include flex-direction(row);
    flex-wrap: nowrap;
    display: flex;
    border: 1px solid color("gray", "lighten-1");
    border-radius: $radio-small;
    background: color("gray", "lighten-3");
    &:focus-within {
      border: 1px solid color("primary", "darken-1");
    }
    &.error {
      border: 1px solid color("warning", "lighten-1");
      background: color("warning", "lighten-3");
    }
    .dateContainer {
      position: relative;
      width: 100%;
      cursor: pointer;
      @include flexBox();
      @include flex-direction(column);
      .dateContent {
        .inputContent {
          input {
            width: initial;
            border: 0;
            cursor: pointer;
            padding: 8px 0 6px 8px;
            &:focus {
              outline: 0;
              background: color("gray", "lighten-3");
            }
            &.error {
              background: color("warning", "lighten-3");
            }
          }
        }
        .iconContent {
          .icon-arrow {
            border-width: 0 1px 1px 0;
            &.arrow {
              @include transition(all 0.5s);
            }
          }
        }
      }
      .selector {
        overflow: auto;
        position: absolute;
        top: calc(100% + 5px);
        background: color("gray", "lighten-4");
        width: 100%;
        border-radius: $radio-small;
        max-height: 200px;
        .select-items {
          padding: 7px 14px;
          cursor: pointer;
          &:hover {
            background: color("gray", "lighten-3");
          }
        }
      }
    }
  }
  .errorMessage {
    color: color("warning", "lighten-1");
    font-size: 12px;
    text-align: right;
  }
}
