.dateSelectorComponent {
  .dateSelectorContent {
    @include flexBox();
    @include flex-direction(row);
    flex-wrap: nowrap;
    display: flex;
    border: 1px solid color("gray", "lighten-1");
    border-radius: $radio-small;
    &:focus-within {
      border: 1px solid color("primary", "darken-1");
    }
    .dateContainer {
      position: relative;
      width: 100%;
      cursor: pointer;
      @include flexBox();
      @include flex-direction(column);
      input {
        width: initial;
        border: 0;
        cursor: pointer;
        padding: 8px 0 6px 8px;
        &:focus {
          outline: 0;
          background: color("gray", "lighten-4");
        }
        &:disabled {
          background: color("gray", "lighten-3");
        }
      }
      .selector {
        overflow: auto;
        position: absolute;
        top: calc(100% + 5px);
        background: color("gray", "lighten-3");
        width: 100%;
        border-radius: $radio-small;
        max-height: 200px;
        .select-items {
          padding: 1rem;
          cursor: pointer;
          &:hover {
            background: #f8fbfd;
          }
        }
      }
    }
  }
  .error {
    color: color("warning", "lighten-1");
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    font-size: 12px;
  }
}
