input,
textarea {
  padding: 8px 24px 4px 8px;
  background: color("gray", "lighten-3");
  border-radius: $radio-small;
  border: 1px solid color("gray", "lighten-1");
  &:focus {
    outline: none;
    background: color("gray", "lighten-4");
    border: 1px solid color("primary", "darken-1");
  }
  &.warning {
    border: 1px solid color("warning", "lighten-1");
    background: color("warning", "lighten-3");
  }
  //remove arrows of number type
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.input {
  &:focus-within {
    .label,
    label {
      color: color("primary", "darken-2");
      line-height: $line-height-small;
    }
  }
}

.error-message {
  color: color("warning", "lighten-1");
  font-size: 12px;
  text-align: right;
}

.label,
label {
  color: color("primary", "darken-3");
  line-height: $line-height-small;
}
.label-error {
  color: $color-warning !important;
}

.input-component {
  position: relative;
  height: 36px;
  .icon-warning-content {
    color: color("warning", "lighten-1");
    font-size: 16px;
    right: 0;
    line-height: 0;
  }
}
