@font-face {
  font-family: "Muli";
  src: url('./assets/fonts/Muli-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Muli";
  src: url('./assets/fonts/Muli-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Muli";
  src: url('./assets/fonts/Muli-Regular.ttf');
  font-weight: 300;
}
