$color-primary: #2267dd;
$color-secondary: #223650;
$color-gray: #abb3c0;
$color-highlight: #ffd800;
$color-success: #46b54d;
$color-warning: #cc8700;
$color-danger: #db1935;
$color-white: #ffffff;
$color-black: #000000;

$primary: (
        'darken-4': #0a2046,
        'darken-3': #103169,
        'darken-2': #15418c,
        'darken-1': #1b52b0,
        'base': $color-primary,
        'lighten-1': lighten($color-primary, 15%),
        'lighten-2': lighten($color-primary, 30%),
        'lighten-3': lighten($color-primary, 45%),
        'lighten-4': #f6f8fd,
);

$secondary: (
        'darken-3': darken($color-secondary, 45%),
        'darken-2': darken($color-secondary, 30%),
        'darken-1': darken($color-secondary, 15%),
        'base': $color-secondary,
        'lighten-1': lighten($color-secondary, 15%),
        'lighten-2': lighten($color-secondary, 30%),
        'lighten-3': lighten($color-secondary, 45%),
);

$gray: (
      'darken-4': #0d0f13,
      'darken-3': #2c3241,
      'darken-2': #4b5966,
      'darken-1': #7b92a5,
      'base': $color-gray,
      'lighten-1': #cbd5e0,
      'lighten-2': #ebf0f7,
      'lighten-3': #f1f7fb,
      'lighten-4': #fbfbfd,
);

$highlight: (
        'base': $color-highlight,
        'lighten-1': lighten($color-highlight, 15%),
        'lighten-2': lighten($color-highlight, 30%),
        'lighten-3': lighten($color-highlight, 45%)
);

$success: (
        'base': $color-success,
        'lighten-1': lighten($color-success, 15%),
        'lighten-2': lighten($color-success, 30%),
        'lighten-3': lighten($color-success, 45%)
);

$warning: (
        'base': $color-warning,
        'lighten-1': #dbab4c,
        'lighten-2': #eacf99,
        'lighten-3': #f9f3e5
);

$danger: (
        'base': $color-danger,
        'lighten-1': lighten($color-danger, 15%),
        'lighten-2': lighten($color-danger, 30%),
        'lighten-3': lighten($color-danger, 45%)
);

$colors: (
        'primary': $primary,
        'secondary': $secondary,
        'warning': $warning,
        'success': $success,
        'danger': $danger,
        'highlight': $highlight,
        'gray': $gray
);

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
