$font-muli: './fonts' !default;

/*** Breakpoints ***/

$screen-small-down: 769px !default;
$screen-small-up: 770px !default;

$screen-medium-down: 1023px !default;
$screen-medium-up: 1024px !default;

$screen-large-aux-down: 1129px !default;
$screen-large-aux-up: 1130px !default;

$screen-large-down: 1299px !default;
$screen-large-up: 1300px !default;

$screen-extra-large-down: 1440px !default;
$screen-extra-large-up: 1441px !default;

/*** Media Query Ranges ***/

$small-and-down: 'only screen and (max-width : #{$screen-small-down})' !default;
$small-and-up: 'only screen and (min-width : #{$screen-small-up})' !default;

$medium-and-down: 'only screen and (max-width : #{$screen-medium-down})' !default;
$medium-and-up: 'only screen and (min-width : #{$screen-medium-up})' !default;
$only-medium-and-large: 'only screen and (min-width : #{$screen-medium-up}) and (max-width : #{$screen-large-down})' !default;

$large-aux-and-down: 'only screen and (max-width : #{$screen-large-aux-down})' !default;
$large-aux-and-up: 'only screen and (min-width : #{$screen-large-aux-up})' !default;

$large-and-down: 'only screen and (max-width : #{$screen-large-down})' !default;
$large-and-up: 'only screen and (min-width : #{$screen-large-up})' !default;

$only-large: 'only screen and (min-width : #{$screen-large-up}) and (max-width : #{$screen-extra-large-down})' !default;

$extra-large-and-down: 'only screen and (max-width : #{$screen-extra-large-down})' !default;
$extra-large-and-up: 'only screen and (min-width : #{$screen-extra-large-up})' !default;

//cols

$num-cols: 12 !default;
$gutter-width: 2rem !default;
$container-max-width: 1400px;

//radius

$radio-big: 8px;
$radio-default: 6px;
$radio-small: 4px;

/*** Typography ***/

$primary-font: muli, sans-serif;

// Header Styles

$fontsize-h1: 32px !default;
$fontsize-h2: 24px !default;
$fontsize-h3: 20px !default;
$fontsize-h4: 14px !default;
$fontsize-h5: 16px !default;

$fontsize-default: 14px;
$fontsize-small: 12px;

/*shadows*/

$z-depth-0: none !important;
$z-depth-1: 0 8px 16px 0 color('gray', 'lighten-1');
$z-depth-2: 0 4px 8px 0 rgba(13, 21, 32, 0.5);

// line height

$line-height-normal: 1.71;
$line-height-small: 1.14;

/*** color ***/

@include useColors(
                (
                        'primary': true,
                        'secondary': true,
                        'warning': true,
                        'success': true,
                        'danger': true,
                        'highlight': true,
                        'gray': true
                ),
                'bg'
);

@include useColors(
                (
                        'primary': true,
                        'secondary': true,
                        'warning': true,
                        'success': true,
                        'danger': true,
                        'highlight': true,
                        'gray': true
                ),
                'text'
);

@include useColors(
                (
                        'primary': true,
                        'secondary': true,
                        'warning': true,
                        'success': true,
                        'danger': true,
                        'highlight': true,
                        'gray': true
                ),
                'border'
);

@include useColors(
                (
                        'primary': true,
                        'secondary': true,
                        'warning': true,
                        'success': true,
                        'danger': true,
                        'highlight': true,
                        'gray': true
                ),
                'link'
);

@include useColors(
                (
                        'primary': true,
                        'secondary': true,
                        'warning': true,
                        'success': true,
                        'danger': true,
                        'highlight': true,
                        'gray': true
                ),
                'gradient'
);

@include useColors(
                (
                        'primary': true,
                        'secondary': true,
                        'warning': true,
                        'success': true,
                        'danger': true,
                        'highlight': true,
                        'gray': true
                ),
                'fill'
);
