.input-component {
  position: relative;
  input, textarea {
    padding: $input-padding;
    font-size: $input-fontsize;
    font-family: $input-fontfamily;
    border-radius: $input-radius;
    background: $input-backgroud;
    border-width: $input-border-width;
    border-style: $input-border-style;
    border-color: $input-border-color;
    color: $input-color;
    font-weight: $input-weight;
    width: calc(100% - 1rem);
    line-height: $input-height;
    &:focus {
      background: $input-background-focus;
      border-color: $input-border-focus-color;
    }
    &.warning {
      border-color: $input-border-warning-color;
    }
    &::placeholder {
      color: $input-color-placeholder;
    }
  }
  .warning-content, .error-message {
    color: $input-error-color-warning;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  &.disabled {
    opacity: .6;
  }
  &:focus-within {
    label {
      color: $input-label-color-focus;
    }
  }
  .icon-container {
    position: absolute;
    top: calc(50% - .5rem);
    right: .3rem;
  }
}
