.kushki-credit-card-form-component {
  border: $kushki-form-border;
  border-radius: $kushki-form-border-radius;
  padding: $kushki-form-padding;
  .card-icons-content {
    display: $kushki-form-card-icons-display;
    justify-content: $kushki-form-card-icons-justify-content;
    align-items: $kushki-form-card-icons-align-items;
    margin: $kushki-form-card-icons-margin;
  }
  .form-content {
    display: $kushki-form-display;
    flex-wrap: $kushki-form-flex-wrap;
    .input-component {
      margin: $kushki-form-input-margin;
    }
    .input-name {
      width: $kushki-form-input-name-width;
      padding: $kushki-form-input-name-padding;
    }
    .input-card-number {
      width: $kushki-form-input-card-number-width;
      padding: $kushki-form-input-card-number-padding;
    }
    .input-expiration-date {
      width: $kushki-form-input-expiration-date-width;
      padding: $kushki-form-input-expiration-date-padding;
    }
    .input-cvv {
      padding: $kushki-form-input-cvv-padding;
      width: $kushki-form-input-cvv-width;
    }
  }
  .checkbox-component {
    padding: $kushki-checkbox-padding;
  }
  .button-component {
    width: $kushki-button-width;
  }
  .kushki-logo-container {
    display: $kushki-logo-container-display;
    align-items: $kushki-logo-container-align-items;
  }
  .form-error-mesage {
    padding: $kushki-form-error-message-padding;
    color: $kushki-form-error-message-color;
    background: $kushki-form-error-message-background;
    font-size: $kushki-form-error-message-fontsize;
    border-radius: $kushki-form-error-message-border-radius;
    margin: $kushki-form-error-message-margin;
    display: $kushki-form-error-message-display;
    align-items: $kushki-form-error-message-align-items;
    justify-content: $kushki-form-error-message-justify-content;
    .icon-close {
      &:before, &:after {
        background-color: $kushki-form-error-message-icon-background;
      }
    }
  }
}
