.map-locations-component{
  @include flexbox();
  @include flex-direction(row);
  width: 100%;
  .location-selector{
    padding: 0 $map-locations-locations-martin-top;
  }
  .locations-nav{
    @include flex(1);
    .location-list {
      overflow: auto;
      padding: 0 $map-locations-navigation-padding $map-locations-navigation-padding;
      margin-top: $map-locations-locations-martin-top;
      .locations-block{
        .location-item{
          position: relative;
          cursor: pointer;
          padding-left: $map-locations-list-padding;
          margin-bottom: calc(#{$map-locations-list-bottom-margin} / 2);
          padding-bottom: calc(#{$map-locations-list-bottom-margin} / 2);
          border-bottom: $map-locations-list-border-separator;
          &:last-child{
            border-bottom-width: 0;
          }
          &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: $map-locations-check-size;
            height: $map-locations-check-size;
            border: $map-locations-check-border-width solid $map-locations-check-inactive-color;
            box-sizing: border-box;
          }
          &.selected{
            &:after{
              border-color: $map-locations-check-active-color;
            }
            &:before{
              content: '';
              display: block;
              position: absolute;
              width: calc((60 * #{$map-locations-check-size}) / 100);
              height: calc(#{$map-locations-check-size} / 3.7);
              border-bottom: 1px solid $map-locations-check-active-color;
              border-left: 1px solid $map-locations-check-active-color;
              @include transform(rotate(-55deg));
              top: calc((#{$map-locations-check-size} - 8px) * 0.35);
              left: calc((#{$map-locations-check-size} - 4px) * 0.25);
            }
          }
        }
      }
    }
  }
}
