.uploader-image-component {
  width: $uploader-container-width;
  height: $uploader-container-height;
  .uploader-container {
    width: 100%;
    height: 100%;
    border: $uploader-container-border;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $uploader-fontsize;
    color: $uploader-color;
    background-color: $uploader-backgroundColor;
    border-radius: $uploader-container-radius;
    padding: $uploder-container-padding;
    margin: $uploder-container-margin;
    input {
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
    }
    .uploader-image {
      position: absolute;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border-radius: $uploader-container-radius;
      background-size: cover;
      a {
        position: absolute;
        z-index: 499;
        right: .5rem;
        top: 0;
        font-size: 1.5rem;
        display: none;
        cursor: pointer;
      }
      &:hover {
        a {
          display: block;
        }
      }
    }
    &.upload-error {
      border: $uploader-container-error-border;
    }
    &.drag-style {
      background-color: $drag-in-background-color;
    }
  }
  .error {
    display: flex;
    justify-content: flex-end;
  }
  .images-container {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align(center);
    padding: $images-container-padding;
    border-bottom: $images-container-border-bottom;
    &:last-child {
      border-bottom: 0;
    }
    width: 100%;
    .left-content {
      width: calc(100% - 5rem);
      @include flexbox();
      @include flex-direction(row);
      @include align(center);
      .image-item {
        width: $images-item-width;
        height: $images-item-height;
        background-size: cover;
        margin: $images-item-margin;
      }
    }
    .right-content {
      @include flexbox();
      @include flex-direction(row);
      @include align(center);
    }
  }
}
