// primary colors
$color-primary: #1b52b0;
$color-secondary: #223650;
$color-gray: #abb3c0;

// aux colors
$color-success: #46b54d;
$color-info: #41e9cd;
$color-warning: #ffd800;
$color-danger: #db1935;

// base colors
$color-white: #ffffff;
$color-black: #000000;
