// PaginatorComponent

$paginator-color: $color-gray;
$paginator-height: 2.5rem;
$paginator-padding: 1rem;
$paginator-radius: $radio-default;
$paginator-selected-bg: color('gray', 'lighten-1');
$paginator-selected-color: $color-primary;
