// primary colors
$color-primary: #1b52b0;
$color-secondary: #223650;
$color-gray: #2d2d2d;

// aux colors
$color-success: #46b54d;
$color-info: #41e9cd;
$color-warning: #cc8700;
$color-danger: #db1935;

// base colors
$color-white: #ffffff;
$color-black: #000000;
